.marquee__line {
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.box_animate {
  position: relative;
  margin-top: -50px;
  animation-name: boxanimate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes boxanimate {
  0% {
    top: 0px;
  }

  50% {
    top: -25px;
  }

  100% {
    top: 0px;
  }

}